$font-stack: Palatino;
$app-color: #BF80FF;
$app-color-faint: #E6CCFF;
$ibu-font: Papyrus;
$ibu-color: #339933;

/** HEADER **/
.header-region {
    height: 50px;
    background-color: $app-color;
}
.logo-app {
    padding: 0.2em;
    font-family: $font-stack;
    font-size: 30px;
    color: white;
}

/** END HEADER **/

/** BODY **/

/** LOGIN PAGE **/

.mobile-login-input {
    margin: 0 auto;
    float: none;
    padding-top: 25px;
}
.btn-login {
    height: 35px;
    border: 1px solid #D2D2E0;
    border-radius: 4px;
    text-align: center;
    background-color: $app-color;
    color: white;
    font-size: 16px;
}
.btn-login:active {
    background-color: $app-color-faint;
}
.info-login {
    font-style: normal;
    vertical-align: sub;
}
.forgot-pwd {
    display: block;
    text-align: center;
}
#id-btn-login-fb:active {
    background-color: #91A6D4;
}
#id-btn-login-fb {
    background-color: #3B5998;
}
#id-btn-login-gmail {
    background-color: #DD4B39;
}
#id-btn-login-gmail:active {
    background-color: #ED9D92;
}
.mobile-new-account {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

/** END LOGIN PAGE **/

/** CREATE ACCOUNT PAGE **/
.title-center {
    text-align: center;
}
#id-btn-striper {
    margin: 20px 0 20px 0;
    background-color: #E81492;
}
#id-btn-manager {
    background-color: #0F3C75;
}

/** END CREATE ACCOUNT PAGE **/


/** END BODY **/

/** FOOTER **/

.footer-region {
    height: 50px;
    background-color: #E0E0EB;
}
.logo-cie {
    padding: 0.5em;
    font-family: $ibu-font;
    font-size: 24px;
    color: $ibu-color;
}

/** END FOOTER **/
