$font-stack: Palatino;
$app-color: #BF80FF;
$app-color-faint: #E6CCFF;
$ibu-font: Papyrus;
$ibu-color: #339933;

/** HEADER **/
.header-region {
    height: 50px;
    background-color: $app-color;
}
.logo-app {
    padding: 0.2em;
    font-family: $font-stack;
    font-size: 30px;
    color: white;
}

/** END HEADER **/

/** BODY **/

/** Common **/

ul > li {
    list-style-type: none;
}

/** End Common **/

/** LOGIN PAGE **/

.mobile-login-input {
    margin: 0 auto;
    float: none;
    padding-top: 25px;
}
.btn-login:active {
    background-color: $app-color-faint;
}
.info-login {
    font-style: normal;
    vertical-align: sub;
}
.forgot-pwd {
    display: block;
    text-align: center;
}
#id-btn-login-fb:active {
    background-color: #91A6D4;
}
#id-btn-login-fb {
    background-color: #3B5998;
}
#id-btn-login-gmail {
    background-color: #DD4B39;
}
#id-btn-login-gmail:active {
    background-color: #ED9D92;
}

.home-bottom-row {
    position: absolute;
    bottom: -1em;
    margin-left: 50px;
    width: 100%;
}

.btn-login {
    height: 35px;
    border: 1px solid #D2D2E0;
    border-radius: 4px;
    text-align: center;
    background-color: $app-color;
    color: white;
    font-size: 16px;
}
#id-btn-login,
#id-btn-create-account {
    margin-bottom: 20px;
}

/** END LOGIN PAGE **/

/** CREATE ACCOUNT PAGE **/
.title-center {
    margin-bottom: 30px;
    text-align: center;
}
.user-top-info {
    margin-bottom: 20px;
    margin-left: 15%;
    width: 70%;
    display: initial;
}
.rd-usertype-row > div:nth-child(1) {
    float: left;
    margin-left: 20vw;
    margin-right: 10px;
}
.rd-usertype-row > div:nth-child(2) {
    float: left;
    margin-left: 6vw;
}
.user-phone-number {
    margin: 25px 0 25px 20vw;
}
.user-bottom-info > select:nth-child(1) {
    margin-bottom: 20px;
    margin-left: 20%;
    width: 25%;
    display: initial;
}
.user-bottom-info select:nth-child(2) {
    margin-left: 8%;
    width: 28%;
    display: initial;
}
.btn-new-user {
    position: relative;
    bottom: -20vw;
    left: 15vw;
}


/** END CREATE ACCOUNT PAGE **/


/** END BODY **/

/** FOOTER **/

.footer-region {
    height: 50px;
    background-color: #E0E0EB;
}
.logo-cie {
    padding: 0.5em;
    font-family: $ibu-font;
    font-size: 24px;
    color: $ibu-color;
}

/** END FOOTER **/
