<div class="container">
    <div class="row">
        <header>
            <div class="header-region logo-app">GogoExotic</div>
        </header>
    </div>

    <div class="row">
        <div>
            <div id="main-region"></div>
        </div>
    </div>

    <div class="row hidden-xs hidden-sm">
        <footer>
            <div class="footer-region logo-cie">Ibu</div>
        </footer>
    </div>

</div> <!-- end container -->
