<div class="row hidden-md hidden-lg">
    <form role="form">

        <div class="form-group row form-login">
            <div class="col-xs-10 mobile-login-input">
                <input type="email" name="email" class="form-control user-email" placeholder="<%= polyglot.t('email_placeholder') %>" required/>
            </div>

            <div class="col-xs-10 mobile-login-input">
                <input type="password" name="password" class="form-control user-password" placeholder="<%= polyglot.t('password_placeholder') %>" required/>
            </div>

            <div class="col-xs-10 mobile-login-input">
                <div class="btn-login">
                    <i class="info-login"><%= polyglot.t('login') %></i>
                </div>                        
            </div>

            <div class="col-xs-10 mobile-login-input">
                <a href="#" class="forgot-pwd"><%= polyglot.t('forgot_password') %></a>
            </div>

        </div> <!-- 1st row -->

        <div class="form-group row">
            <div class="col-xs-10 mobile-new-account">
                <div class="btn-login">
                    <i class="info-login"><%= polyglot.t('new_account') %></i>
                </div>                        
            </div>
        </div>

    </form>
</div>