<form role="form" class="forgot-password-form">
    <div class="container-fluid">
        <h3 class="title-center"><%= polyglot.t('forgot_password') %></h3>

        <div class="row page-top-info">
            <div class="col-xs-12 col-md-6">
                <p class="forgot-pwd-info">When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
                <input type="text" class="form-control" name="email" placeholder="<%= polyglot.t('email') %>" required>
            </div>
        </div>

        <div class="row btn-new-user">
            <div class="col-xs-12">
                <button type="button" class="btn btn-app-confirm" id="btn-forgot-pwd-confirm"><%= polyglot.t('btn-confirm') %></button>
            </div>
        </div>
    </div>
</form>