<div class="row hidden-md hidden-lg">
    <form role="form">

        <div class="form-group row">

        </div> <!-- 1st row -->

        <div class="form-group row home-bottom-row">
            <div class="col-xs-10">
                <div class="btn-login" id="id-btn-login">
                    <i class="info-login"><%= polyglot.t('login') %></i>
                </div>
            </div>

            <div class="col-xs-10">
                <div class="btn-login" id="id-btn-create-account">
                    <i class="info-login"><%= polyglot.t('new_account') %></i>
                </div>
            </div>
        </div>

    </form>
</div>