<div class="row hidden-md hidden-lg">
    <form role="form">
        <div class="form-group row">
            <div class="col-xs-10 mobile-login-input">
                <input type="email" name="email" class="form-control user-email" placeholder="<%= polyglot.t('email') %>" required/>
            </div>

            <div class="col-xs-10 mobile-login-input">
                <input type="password" name="password" class="form-control user-password" placeholder="<%= polyglot.t('password_placeholder') %>" required/>
            </div>

            <div class="col-xs-10 mobile-login-input">
                <div class="btn-login" id="btn-login-login">
                    <i class="info-login btn-color-name"><%= polyglot.t('login') %></i>
                </div>
            </div>

            <div class="col-xs-10 mobile-login-input">
                <a href="#login/forgot" class="forgot-pwd"><%= polyglot.t('forgot_password') %></a>
            </div>

            <div class="col-xs-10 mobile-login-input">
                <div class="btn-login" id="id-btn-login-fb">
                    <i class="info-login"><%= polyglot.t('fb_login') %></i>
                </div>
            </div>

            <div class="col-xs-10 mobile-login-input">
                <div class="btn-login" id="id-btn-login-gmail">
                    <i class="info-login"><%= polyglot.t('gmail_login') %></i>
                </div>
            </div>
        </div>
    </form>
</div>