<div class="row hidden-md hidden-lg">
    <form role="form">

        <div class="form-group row">

            <h3 class="title-center"><%= polyglot.t('title_choice') %></h3>

            <div class="col-xs-10 mobile-login-input">
                <div class="btn-login" id="id-btn-striper">
                    <i class="info-login"><%= polyglot.t('striper_choice') %></i>
                </div>
            </div>

            <div class="col-xs-10 mobile-login-input">
                <div class="btn-login" id="id-btn-manager">
                    <i class="info-login"><%= polyglot.t('manager_choice') %></i>
                </div>
            </div>
        </div>

    </form>
</div>