<div>
    <div class="upload-title"><%= polyglot.t('upload_photo') %></div>

    <div class="container container-upload-pic">
        <form>
            <!-- <div class="form-group show-default-input"> -->
                <input type="file" class="input-upload-pic" name="pic" accept="image/*" multiple>
                <!-- <input type="file" class="hidden input-upload-pic" name="pic" accept="image/*" multiple> -->
                <!-- <label for="files">Select file</label> -->
                <!-- <span class="input-group-btn input-group-sm">
                    <button type="button" class="btn btn-fab btn-fab-mini btn-upload-pic">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </button>
                </span> -->
            <!-- </div> -->
        </form>
    </div>

    <div>
        <button type="button" class="btn btn-primary" id="btn-save-to-ospry"><%= polyglot.t('btn-confirm') %></button>
    </div>
</div>