<div>
    <h3 class="title-center"><%= polyglot.t('upload_photo') %></h3>

    <form role="form" class="form-selecters">
        <div class="container-fluid container-upload-pic">
            <div class="row photo-page-row">
                <input type="file" class="input-upload-pic" name="pic" accept="image/*" multiple>
                <!-- <input type="file" class="hidden input-upload-pic" name="pic" accept="image/*" multiple> -->
                <!-- <label for="files">Select file</label> -->
                <!-- <span class="input-group-btn input-group-sm">
                    <button type="button" class="btn btn-fab btn-fab-mini btn-upload-pic">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </button>
                </span> -->
            <!-- </div> -->

            </div>
        </div>
    </form>

    <footer>
        <div class="row btn-new-user">
            <div class="col-xs-12">
                <button type="button" class="btn btn-success" id="btn-save-to-ospry"><%= polyglot.t('btn-confirm') %></button>
            </div>
        </div>
    </footer>
</div>